# Importing the Relevant Python Libraries

In [3]:
# importing pandas to work with the excel files as dataframes
import pandas as pd
# importing os to support looping through a directory
import os

# Generating Multiple Dataframes
The code below dowloads publicly available Animal Shelter Data from Austin, TX and converts it into a pandas dataframe. 

A separate dataframe is then constructed for each Animal Type and saved as an Excel file in a separate file directory. 

Prior to executing this code, one must create a folder called 'Files_to_combine' within the file directory where this python file is saved so that the .to_excel() function as written has a valid file path to save to.

In [4]:
# Reading in the Austin Animal Shelter Data
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
# Inspecting the different types of animals
animal_outcomes['Animal Type'].value_counts()

Dog          60806
Cat          40215
Other         5607
Bird           484
Livestock       16
Name: Animal Type, dtype: int64

In [5]:
# Creating a separate dataframe of the Animal Shelter Data for each Animal Type
Dog_df = animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Dog']
Cat_df = animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Cat']
Other_df = animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Other']
Bird_df = animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Bird']
Livestock_df = animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Livestock']

In [7]:
# Creating a separate excel file for each dataframe and saving it to a single directory
Dog_df.to_excel('Files_to_combine/Austin_Dogs.xlsx', index = False)
Cat_df.to_excel('Files_to_combine/Austin_Cats.xlsx', index = False)
Other_df.to_excel('Files_to_combine/Austin_Others.xlsx', index = False)
Bird_df.to_excel('Files_to_combine/Austin_Birds.xlsx', index = False)
Livestock_df.to_excel('Files_to_combine/Austin_Livestock.xlsx', index = False)


Below is the code for looping through a file directory and reading all of the files, which in this case must be Excel files, and then writing them as a separate sheet within a multi-sheet Excel file.

This code loops performs this action in a single loop. If you wanted to manipulate the data from the excel files before writing them to the multi-sheet Excel file, you could create separate loops for the read and write process with the desired manipulation occurring in between.

In [25]:
# creating the writer that the pandas.to_excel() function will write to
writer = pd.ExcelWriter('Combined_Austin_Files.xlsx')
# Creating a path variable that points to the directory that will be looped through
path = 'Files_to_combine'
# The for loop that loops through the list of files in the directory at the path
for file in os.listdir(path):
    #reading a given excel file as a dataframe
    current = pd.read_excel(os.path.join(path, file))
    # writing a given dataframe to a sheet in the output excel workbook
    current.to_excel(excel_writer = writer, sheet_name = file.replace('.xlsx', ''), index=False)
# Saving the previously created multi-sheet excel workbook. 
# The pandas.to_excel() function will automatically save your file if creating a single-sheet excel file with a provided path, 
# but one must explicitly save it in this situation because you're writing to the writer and not directly to the path.
writer.save()

In [17]:
file_dict = {}
for file in os.listdir("Files_to_combine"):
    file_dict.update({file: pd.DataFrame()})
file_dict

{'Austin_Birds.xlsx': Empty DataFrame
 Columns: []
 Index: [], 'Austin_Cats.xlsx': Empty DataFrame
 Columns: []
 Index: [], 'Austin_Dogs.xlsx': Empty DataFrame
 Columns: []
 Index: [], 'Austin_Livestock.xlsx': Empty DataFrame
 Columns: []
 Index: [], 'Austin_Others.xlsx': Empty DataFrame
 Columns: []
 Index: []}

In [21]:
file_dict['Austin_Birds.xlsx'].head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A803148,NaN,08/28/2019 12:19:00 PM,08/28/2019 12:19:00 PM,08/28/2014,Euthanasia,Suffering,Bird,Unknown,5 years,Grackle,Black
1,A802697,Ocean,08/21/2019 07:00:00 PM,08/21/2019 07:00:00 PM,08/21/2018,Adoption,NaN,Bird,Intact Female,1 year,Budgerigar,Blue
2,A802698,Sunshine,08/21/2019 07:00:00 PM,08/21/2019 07:00:00 PM,08/21/2018,Adoption,NaN,Bird,Intact Female,1 year,Budgerigar,Yellow
3,A800866,NaN,07/30/2019 01:11:00 PM,07/30/2019 01:11:00 PM,07/28/2018,Return to Owner,NaN,Bird,Unknown,1 year,Parrot,Blue
4,A800449,NaN,07/26/2019 05:45:00 PM,07/26/2019 05:45:00 PM,07/21/2017,Adoption,NaN,Bird,Unknown,2 years,Conure,Yellow/Green

In [20]:
writer = pd.ExcelWriter('Combined_Austin_Files.xlsx')
path = "Files_to_combine"
for file in os.listdir(path):
    file_dict[file] = pd.read_excel(os.path.join(path, file))
file_dict

{'Austin_Birds.xlsx':     Animal ID      Name                DateTime               MonthYear  \
 0     A803148       NaN  08/28/2019 12:19:00 PM  08/28/2019 12:19:00 PM
 1     A802697     Ocean  08/21/2019 07:00:00 PM  08/21/2019 07:00:00 PM
 2     A802698  Sunshine  08/21/2019 07:00:00 PM  08/21/2019 07:00:00 PM
 3     A800866       NaN  07/30/2019 01:11:00 PM  07/30/2019 01:11:00 PM
 4     A800449       NaN  07/26/2019 05:45:00 PM  07/26/2019 05:45:00 PM
 ..        ...       ...                     ...                     ...
 479   A668105       NaN  12/01/2013 03:15:00 AM  12/01/2013 03:15:00 AM
 480   A668106       NaN  12/01/2013 03:15:00 AM  12/01/2013 03:15:00 AM
 481   A666594       NaN  11/10/2013 04:36:00 PM  11/10/2013 04:36:00 PM
 482   A666593       NaN  11/10/2013 04:36:00 PM  11/10/2013 04:36:00 PM
 483   A666232       NaN  11/03/2013 07:02:00 PM  11/03/2013 07:02:00 PM

     Date of Birth     Outcome Type Outcome Subtype Animal Type  \
 0      08/28/2014       Euthanasia       Suffering        Bird
 1      08/21/2018         Adoption             NaN        Bird
 2      08/21/2018         Adoption             NaN        Bird
 3      07/28/2018  Return to Owner             NaN        Bird
 4      07/21/2017         Adoption             NaN        Bird
 ..            ...              ...             ...         ...
 479    11/27/2012       Euthanasia       Suffering        Bird
 480    11/27/2012       Euthanasia       Suffering        Bird
 481    11/04/2012         Transfer         Partner        Bird
 482    11/04/2012         Transfer         Partner        Bird
 483    10/29/2012         Adoption             NaN        Bird

     Sex upon Outcome Age upon Outcome             Breed         Color
 0            Unknown          5 years           Grackle         Black
 1      Intact Female           1 year        Budgerigar          Blue
 2      Intact Female           1 year        Budgerigar        Yellow
 3            Unknown           1 year            Parrot          Blue
 4            Unknown          2 years            Conure  Yellow/Green
 ..               ...              ...               ...           ...
 479      Intact Male           1 year  Rhode Island Mix  Yellow/Black
 480      Intact Male           1 year  Rhode Island Mix  Yellow/Black
 481      Intact Male           1 year      Parakeet Mix         Green
 482      Intact Male           1 year      Parakeet Mix          Blue
 483          Unknown           1 year        Pigeon Mix          Gray

 [484 rows x 12 columns],
 'Austin_Cats.xlsx':       Animal ID      Name                DateTime               MonthYear  \
 0       A799769  Emmaline  09/03/2019 11:46:00 AM  09/03/2019 11:46:00 AM
 1       A803222       NaN  09/03/2019 11:17:00 AM  09/03/2019 11:17:00 AM
 2       A803218       NaN  09/03/2019 11:17:00 AM  09/03/2019 11:17:00 AM
 3       A803215       NaN  09/03/2019 11:17:00 AM  09/03/2019 11:17:00 AM
 4       A803217       NaN  09/03/2019 11:17:00 AM  09/03/2019 11:17:00 AM
 ...         ...       ...                     ...                     ...
 40210   A661795    Blakie  10/01/2013 11:53:00 AM  10/01/2013 11:53:00 AM
 40211   A656894      Jake  10/01/2013 11:53:00 AM  10/01/2013 11:53:00 AM
 40212   A664236       NaN  10/01/2013 10:44:00 AM  10/01/2013 10:44:00 AM
 40213   A664237       NaN  10/01/2013 10:44:00 AM  10/01/2013 10:44:00 AM
 40214   A664235       NaN  10/01/2013 10:39:00 AM  10/01/2013 10:39:00 AM

       Date of Birth Outcome Type Outcome Subtype Animal Type Sex upon Outcome  \
 0        01/11/2018     Adoption             NaN         Cat    Spayed Female
 1        04/29/2019     Transfer             Snr         Cat          Unknown
 2        03/01/2019     Transfer             Snr         Cat          Unknown
 3        08/29/2017     Transfer             Snr         Cat          Unknown
 4        05/29/2019     Transfer             Snr         Cat          Unknown
 ...             ...          ...             ...         ...              ...
 40210    03/25/2013     Adoption             NaN         Cat    Spayed Female
 40211    04/22/2013     Adoption             NaN         Cat    Neutered Male
 40212    09/24/2013     Transfer         Partner         Cat          Unknown
 40213    09/24/2013     Transfer         Partner         Cat          Unknown
 40214    09/24/2013     Transfer         Partner         Cat          Unknown

       Age upon Outcome                   Breed         Color
 0               1 year      Domestic Shorthair   Brown Tabby
 1             4 months      Domestic Shorthair   Brown Tabby
 2             6 months      Domestic Shorthair   Brown Tabby
 3              2 years      Domestic Shorthair   White/Black
 4             3 months      Domestic Shorthair  Torbie/White
 ...                ...                     ...           ...
 40210         6 months  Domestic Shorthair Mix        Tortie
 40211         5 months  Domestic Shorthair Mix         Black
 40212           1 week  Domestic Shorthair Mix  Orange/White
 40213           1 week  Domestic Shorthair Mix  Orange/White
 40214           1 week  Domestic Shorthair Mix  Orange/White

 [40215 rows x 12 columns],
 'Austin_Dogs.xlsx':       Animal ID          Name                DateTime               MonthYear  \
 0       A785797          Nola  09/03/2019 11:56:00 AM  09/03/2019 11:56:00 AM
 1       A803510         Rocky  09/03/2019 11:56:00 AM  09/03/2019 11:56:00 AM
 2       A803263           NaN  09/03/2019 11:24:00 AM  09/03/2019 11:24:00 AM
 3       A803173           NaN  09/03/2019 11:08:00 AM  09/03/2019 11:08:00 AM
 4       A803140  *Serjtankian  09/03/2019 10:20:00 AM  09/03/2019 10:20:00 AM
 ...         ...           ...                     ...                     ...
 60801   A663572       *Starla  10/01/2013 11:42:00 AM  10/01/2013 11:42:00 AM
 60802   A663888           NaN  10/01/2013 11:13:00 AM  10/01/2013 11:13:00 AM
 60803   A663646           NaN  10/01/2013 11:12:00 AM  10/01/2013 11:12:00 AM
 60804   A664223          Moby  10/01/2013 11:03:00 AM  10/01/2013 11:03:00 AM
 60805   A659834       *Dudley  10/01/2013 09:31:00 AM  10/01/2013 09:31:00 AM

       Date of Birth     Outcome Type Outcome Subtype Animal Type  \
 0        08/10/2018         Transfer         Partner         Dog
 1        03/02/2018         Transfer         Partner         Dog
 2        06/30/2019         Adoption             NaN         Dog
 3        08/28/2014         Transfer         Partner         Dog
 4        08/28/2017         Transfer         Partner         Dog
 ...             ...              ...             ...         ...
 60801    09/21/2010         Adoption             NaN         Dog
 60802    09/25/2011         Transfer         Partner         Dog
 60803    09/22/2010         Transfer         Partner         Dog
 60804    09/30/2009  Return to Owner             NaN         Dog
 60805    07/23/2013         Adoption          Foster         Dog

       Sex upon Outcome Age upon Outcome                   Breed  \
 0        Spayed Female           1 year  Smooth Fox Terrier Mix
 1          Intact Male           1 year   Yorkshire Terrier Mix
 2        Spayed Female         2 months  Chihuahua Longhair Mix
 3        Neutered Male          5 years        Miniature Poodle
 4          Intact Male          2 years            Bull Terrier
 ...                ...              ...                     ...
 60801    Spayed Female          3 years     Anatol Shepherd Mix
 60802    Spayed Female          2 years               Boxer Mix
 60803    Neutered Male          3 years          Toy Poodle Mix
 60804    Neutered Male          4 years             Bulldog Mix
 60805    Neutered Male         2 months  Labrador Retriever Mix

                      Color
 0      Black Brindle/White
 1                Black/Tan
 2                 Tricolor
 3               Gray/White
 4              White/Brown
 ...                    ...
 60801          White/Brown
 60802            Red/White
 60803                White
 60804                White
 60805                Black

 [60806 rows x 12 columns],
 'Austin_Livestock.xlsx':    Animal ID   Name                DateTime               MonthYear  \
 0    A795191   Loki  05/18/2019 03:37:00 PM  05/18/2019 03:37:00 PM
 1    A778432    NaN  04/02/2019 11:35:00 AM  04/02/2019 11:35:00 AM
 2    A778971    NaN  04/02/2019 11:35:00 AM  04/02/2019 11:35:00 AM
 3    A769204    NaN  03/26/2019 10:32:00 AM  03/26/2019 10:32:00 AM
 4    A788252  Bacon  01/29/2019 01:25:00 PM  01/29/2019 01:25:00 PM
 5    A782370    NaN  10/14/2018 02:12:00 PM  10/14/2018 02:12:00 PM
 6    A764822    NaN  02/12/2018 04:51:00 PM  02/12/2018 04:51:00 PM
 7    A742204    NaN  03/15/2017 12:49:00 PM  03/15/2017 12:49:00 PM
 8    A718910    NaN  01/27/2016 12:00:00 AM  01/27/2016 12:00:00 AM
 9    A715047    NaN  12/07/2015 12:00:00 AM  12/07/2015 12:00:00 AM
 10   A701250    NaN  05/11/2015 12:00:00 AM  05/11/2015 12:00:00 AM
 11   A679540    NaN  06/17/2014 10:30:00 AM  06/17/2014 10:30:00 AM
 12   A674214    NaN  03/29/2014 02:00:00 PM  03/29/2014 02:00:00 PM
 13   A673651    NaN  03/11/2014 02:39:00 PM  03/11/2014 02:39:00 PM
 14   A668167    NaN  11/30/2013 12:18:00 PM  11/30/2013 12:18:00 PM
 15   A663228    NaN  10/03/2013 10:59:00 AM  10/03/2013 10:59:00 AM

    Date of Birth     Outcome Type Outcome Subtype Animal Type  \
 0     11/17/2018  Return to Owner             NaN   Livestock
 1     05/14/2018         Adoption          Foster   Livestock
 2     04/23/2018         Adoption          Foster   Livestock
 3     10/01/2017         Adoption          Foster   Livestock
 4     09/29/2018  Return to Owner             NaN   Livestock
 5     09/29/2018             Died          At Vet   Livestock
 6     01/06/2016         Adoption             NaN   Livestock
 7     07/17/2016         Transfer         Partner   Livestock
 8     01/09/2015         Transfer         Partner   Livestock
 9     10/30/2014         Transfer         Partner   Livestock
 10    04/26/2013         Transfer         Partner   Livestock
 11    11/22/2013         Transfer         Partner   Livestock
 12    02/22/2014         Adoption          Foster   Livestock
 13    02/28/2013         Adoption          Foster   Livestock
 14    05/28/2013  Return to Owner             NaN   Livestock
 15    09/15/2008         Transfer         Partner   Livestock

    Sex upon Outcome Age upon Outcome             Breed        Color
 0       Intact Male         5 months               Pig        White
 1     Intact Female        10 months           Pig Mix  White/Black
 2     Intact Female        11 months           Pig Mix   Gray/Black
 3       Intact Male           1 year         Sheep Mix  Black/White
 4           Unknown         4 months           Pig Mix         Gray
 5           Unknown          2 weeks               Pig        Black
 6     Intact Female          2 years  Potbelly Pig Mix        White
 7     Intact Female         7 months  Potbelly Pig Mix  Black/White
 8       Intact Male           1 year           Pig Mix        White
 9           Unknown           1 year          Goat Mix        Brown
 10    Intact Female          2 years           Pig Mix         Pink
 11      Intact Male         6 months          Goat Mix        Black
 12          Unknown          5 weeks           Pig Mix        Black
 13    Neutered Male           1 year           Pig Mix  Black/White
 14    Intact Female         6 months           Pig Mix  Black/White
 15      Intact Male          5 years         Miniature  Liver/Cream  ,
 'Austin_Others.xlsx':      Animal ID      Name                DateTime               MonthYear  \
 0      A803564       NaN  09/03/2019 10:34:00 AM  09/03/2019 10:34:00 AM
 1      A803503       NaN  09/02/2019 12:42:00 PM  09/02/2019 12:42:00 PM
 2      A803467       NaN  09/02/2019 08:36:00 AM  09/02/2019 08:36:00 AM
 3      A803320       NaN  09/01/2019 12:59:00 PM  09/01/2019 12:59:00 PM
 4      A802907  *Charles  08/30/2019 06:48:00 PM  08/30/2019 06:48:00 PM
 ...        ...       ...                     ...                     ...
 5602   A664066       NaN  10/05/2013 08:44:00 AM  10/05/2013 08:44:00 AM
 5603   A664438       NaN  10/03/2013 12:33:00 PM  10/03/2013 12:33:00 PM
 5604   A664430       NaN  10/03/2013 11:52:00 AM  10/03/2013 11:52:00 AM
 5605   A664384       NaN  10/02/2013 06:36:00 PM  10/02/2013 06:36:00 PM
 5606   A664328       NaN  10/02/2013 09:40:00 AM  10/02/2013 09:40:00 AM

      Date of Birth Outcome Type Outcome Subtype Animal Type Sex upon Outcome  \
 0       09/03/2018   Euthanasia     Rabies Risk       Other          Unknown
 1       01/02/2019   Euthanasia     Rabies Risk       Other          Unknown
 2       09/01/2018     Transfer         Partner       Other          Unknown
 3       08/30/2018   Euthanasia       Suffering       Other          Unknown
 4       08/24/2018         Died          At Vet       Other      Intact Male
 ...            ...          ...             ...         ...              ...
 5602    03/28/2013     Relocate             NaN       Other          Unknown
 5603    10/03/2011   Euthanasia     Rabies Risk       Other          Unknown
 5604    12/03/2012   Euthanasia     Rabies Risk       Other          Unknown
 5605    04/02/2013   Euthanasia     Rabies Risk       Other          Unknown
 5606    06/02/2013   Euthanasia     Rabies Risk       Other          Unknown

      Age upon Outcome          Breed        Color
 0                 NaN            Bat        Black
 1                 NaN        Raccoon   Black/Gray
 2                 NaN       Tortoise        Brown
 3              1 year          Skunk  Black/White
 4              1 year  Rabbit Sh Mix   Black/Gray
 ...               ...            ...          ...
 5602         6 months    Opossum Mix        White
 5603          2 years    Raccoon Mix  Black/White
 5604         9 months          Skunk  Black/White
 5605         6 months    Raccoon Mix        Brown
 5606         4 months        Bat Mix        Brown

 [5607 rows x 12 columns]}

In [24]:
writer = pd.ExcelWriter('Combined_Austin_Files.xlsx')
for key in file_dict:
    file_dict[key].to_excel(excel_writer = writer, sheet_name = key.replace('.xlsx', ''), index=False)
writer.save()